<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">
        <h2 class="text-primary">
          Welcome to OurFace
        </h2>
        <p>
          Please sign up for our little facebook knockoff by entering your email address and password.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <div class="form-horizontal">
              <legend class="text-primary">Sign up</legend>
              <div class="control-group">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>
                    <div class="text-primary ">
                      <%= f.label :email %><br/>
                      <%= f.email_field :email, autofocus: true %>
                    </div>

                    <div class="text-primary ">
                      <%= f.label :password %>
                      <% if @minimum_password_length %>
                          <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br/>
                      <%= f.password_field :password, autocomplete: "off" %>
                    </div>

                    <div class="text-primary ">
                      <%= f.label :password_confirmation %><br/>
                      <%= f.password_field :password_confirmation, autocomplete: "off" %>
                    </div>
                    <div class="inner"></div>
                    </br>
                    <div class="actions text-primary">
                      <%= f.submit "Sign up" %>
                    </div>
                <% end %>
              </div>
              <%= render "devise/shared/links" %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


