

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="jumbotron">
            <h2 class="text-primary">
              Welcome to OurFace
            </h2>
            <p>
              This application was created for Towson University COSC 617.  Please enjoy our little facebook knockoff!
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="container">
            <div class="row">
              <div class="col-xs-4">
                <div class="form-horizontal">
                  <legend class="text-primary">Login</legend>
                  <div class="control-group">

                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="field text-primary">
                          <%= f.label :email %></br>
                          <%= f.email_field :email, autofocus: true %>
                        </div>
                        <div class="field field text-primary">
                          <%= f.label :password %></br>
                          <%= f.password_field :password, autocomplete: "off" %>
                        </div>


                        <% if devise_mapping.rememberable? -%>
                            <div class="field field text-primary">
                              <%= f.check_box :remember_me %>
                              <%= f.label :remember_me %>
                            </div>
                        <% end -%>
                        <div class="inner"></div>
                        </br>
                        <div class="actions field text-primary">
                          <%= f.submit "Log in", :class =>"btn btn-primary" %>
                        </div>
                    <% end %>
                  </div>
                  <%= render "devise/shared/links" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



