<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center text-primary">
        Trending Posts
      </h3>
      <div class="row">
        <% @posts.each do |post| %>
            <div class="row">
              <div class="media well col-md-12">
                <a href="#" class="pull-left"><img alt="Bootstrap Media Preview" src="http://lorempixel.com/64/64/" class="media-object"/></a>
                <div class="media-body">
                  <h4 class="media-heading">
                    <%= post.title %>
                  </h4>
                  <p><%= post.description %></p>
                  <td><%= link_to 'Show', post %></td>
                   
                  <td><%= link_to 'Edit', edit_post_path(post) %></td>
                   
                  <td><%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                </div>
              </div>
            </div>

        <% end %>
      </div>
      <br>

      <%= link_to 'New Post', new_post_path %>

    </div>
  </div>
</div>
