
<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-6">
          <h3 class="text-center text-primary">

          </h3>
          <div class="well well-sm">
            <div class="row">
              <div class="col-sm-6 col-md-4">
                <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
              </div>
              <div class="col-sm-6 col-md-8">
                <h4><%=current_user.name%></h4>
                <small><%=current_user.location%> <i class="glyphicon glyphicon-map-marker">
                </i></small>
                <p>
                  <i class="glyphicon glyphicon-envelope"></i><%=current_user.email%>
                  <br />
                  <i class="glyphicon glyphicon-globe"></i><a href="/"><%=current_user.website%></a>
                  <br />
                  <i class="glyphicon glyphicon-gift"></i><%=current_user.birthday%>
                <br />
                <i class="glyphicon glyphicon-book"></i><%=current_user.interests%></p>
              </div>
            </div>
          </div>
        </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <h3 class="text-center text-primary">

      </h3>
      <div class="row">
        <% @posts.each do |post| %>
            <div class="row">
              <div class="media well col-md-12 ">
                <a href="#" class="pull-left"><img alt="Bootstrap Media Preview" src="http://lorempixel.com/64/64/" class="media-object"/></a>
                <div class="media-body">
                  <h4 class="media-heading">
                    <%= post.title %>
                  </h4>
                  <p><%= post.description %></p>
                  <td><%= link_to 'Show', post %></td>
                   
                  <td><%= link_to 'Edit', edit_post_path(post) %></td>
                   
                  <td><%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                </div>
              </div>
            </div>

        <% end %>
      </div>
      <br>

      <%= link_to 'New Post', new_post_path %>

    </div>
  </div>
</div>




