<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<h2>Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
      <li>
        <%=h friendship.friend.username %>
        (<%= link_to "remove", friendship, :method => :delete %>)
      </li>
  <% end %>
</ul>

<p><%= link_to "Find Friends", users_path %></p>
